<div id="fh5co-started" class="fh5co-bg-dark">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Contact Me!</h2>
                <p class="footer-social">
                    <ul class="fh5co-social-icons">
                        <li><a target="_blank" href="{{ About.twitter }}" class="text-white"><i class="icon-twitter2"></i></a></li>
                        <li><a target="_blank" href="{{ About.linkedin }}" class="text-white"><i class="icon-linkedin2"></i></a></li>
                        <li><a target="_blank" href="{{ About.github }}" class="text-white"><i class="icon-github2"></i></a></li>
                        <li><a target="_blank" href="mailto:{{ About.email }}" class="text-white"><i class="icon-email"></i></a></li>
                        <li><a target="_blank" href="{{ About.whatsapp }}" class="text-white"><i class="icon-whatsapp"></i></a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>